<!--<div class="bg-class">-->
<!--  &lt;!&ndash;<img class="img-responsive" src="tst1.jpg" width=100%>&ndash;&gt;-->
<!--  <div class="col-md-4 col-md-offset-4">-->
<!--    <div class="box-content profile">-->
<!--      <h3 class="widget-title">Login Page</h3>-->
<!--      <form [formGroup]="bookForm" class="contact-form simple-form" (ngSubmit)="onFormSubmit(bookForm.value)">-->
<!--        <fieldset>-->
<!--          <p><input formControlName="myusername" type="text" style="width: 100%; left:45%; position: relative" id="myusername"  placeholder="User Name" required ></p>-->
<!--          <br>-->
<!--          <input formControlName="mypassword" type="password" style="width: 100%; left:45%; position: relative" id="mypassword" placeholder="Password" required>-->
<!--          <br>-->
<!--          <br>-->
<!--          <input type="submit" class="button" style="padding:9px 18px; left: 68%;position: relative"-->
<!--                 value="Login"-->
<!--          >-->

<!--          <a href="" ng-click="getPassword()"><u style="position: relative;left:66%;font-size: 10px">forgot password?</u></a>-->
<!--        </fieldset>-->
<!--      </form>-->
<!--      <input type="text"  style="width: 100% ;border: 0px; background-color: #F5F5F5; color: red" ng-model="finalErr">-->
<!--      <div class="form-group">-->
<!--        <div class="col-md-12 control">-->
<!--          <div class="no-acc">-->
<!--            Don't have an account!-->
<!--            <a href="books"> Sign Up Here </a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <br>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Login</title>

  <!-- Custom fonts for this template-->
  <link href="../../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../../assets/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                </div>
                <form [formGroup]="bookForm" (ngSubmit)="onFormSubmit(bookForm.value)" class="user">
                  <div class="form-group">
                    <input formControlName="myusername" type="email" class="form-control form-control-user" id="myusername" aria-describedby="emailHelp" placeholder="Email Address" required>
                  </div>
                  <div class="form-group">
                    <input formControlName="mypassword" type="password" class="form-control form-control-user" id="mypassword" placeholder="Password" required>
                  </div>
                  <button type="submit" class="btn btn-primary btn-user btn-block">Login</button>
                  <hr>
                </form>
                <hr>
                <div class="text-center">
                  <a class="small" href="" ng-click="getPassword()">Forgot Password?</a>
                </div>
                <div class="text-center">
                  <a class="small" href="register.html">Create an Account!</a>
                </div>
              </div>
            </div>
            <div class="col-lg-3"></div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="../../assets/vendor/jquery/jquery.min.js"></script>
<script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../../assets/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="../../assets/js/sb-admin-2.min.js"></script>

</body>

</html>
