<div class="col-md-4 col-md-offset-4" >
  <div class="box-content profile">
    <form [formGroup]="bookForm" class="contact-form simple-form" (ngSubmit)="onFormSubmit(bookForm.value)">
      <fieldset>
        <input formControlName="fName" type="text" style="width: 80%;"  id="fName" value={{book.fName}} required>
        <br>
        <br>
        <input formControlName="lName" type="text" style="width: 80%;" id="lName" value={{book.lName}}>
        <br>
        <br>
        <input formControlName="uName" type="text" style="width: 80%;" id="uName" value={{book.uName}} required>
        <br>
        <br>
        <input formControlName="class1" type="text" style="width: 80%;" id="class1" value={{book.class1}} required>
        <br>
        <br>
        <input formControlName="class2" type="text" style="width: 80%;" id="class2" value={{book.class2}} required>
        <br>
        <br>
        <input formControlName="class3" type="text" style="width: 80%;" id="class3" value={{book.class3}} required>
        <br>
        <br>
        <input formControlName="mobilePhone" type="text" style="width: 80%;" id="mobilePhone" value={{book.mobilePhone}} optional>
        <br>
        <br>
      </fieldset>
      <div class="button-row">
        <button type="submit" [disabled]="!bookForm.valid" mat-raised-button color="primary">
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </form>
    <!--<input type="text"  style="width: 100% ;border: 0px; background-color: #F5F5F5; color: red" ng-model="finalErr">-->
  </div>
</div>

